@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('../fonts/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('../fonts/fontscorecomttwcenmt.woff') format('woff'), url('../fonts/fontscorecomttwcenmt.ttf') format('truetype');
}
.clearfix{
    clear:both;
}
.custom_right {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    height: 98px;
    padding: 8px 20px;
    margin-bottom:10px;
    width: 46%;
    margin-right: 3%;
}
.custom_center {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 43px;
    letter-spacing: 1px;
    margin-top: 78px;
    padding-top: 12px;
    text-align: center;
}
.custom_center h2 {
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 37px;
    margin-bottom: 16px;
    text-align: center;
}
.cstm_hdr_btn {
    border-bottom: 1px solid #c69b6e;
    color: #c69b6e;
    font-family: "fontscorecomttwcenmt"!important;
}
.button_caption {
    color: #c69b6e;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 21px;
}
.top-bar {
    border-bottom: 1px solid #6f6f6f;
    padding: 10px 0 0;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.loader {
    background: white none repeat scroll 0 0;
    height: 830px;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 999;
    top:0;
}
.spinloader {
    left: 48%;
    position: absolute;
    top: 27%;
	width: 10%;
}
.stylecaption {
    background: #eee none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 32px;
    margin-top:0;
    padding: 4px;
    text-align: center;
}

.primarysuggestion {
    border: 2px solid #ccc;
    border-radius: 4px;
    float: left;
    height: 171px;
    margin-left: 45px;
    margin-top: 35px;
    text-align: center;
    width: 165px;
}
.suggestionname {
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}
.stepsactive {
    background: #c4996c none repeat scroll 0 0;
    border-color: transparent;
    color: white;
}
.steps {
    background: #fff none repeat scroll 0 0;
    border: 3px solid #aeaeae;
    border-radius: 50%;
    float: left;
    height: 75px;
    line-height: 75px;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    width: 75px;
}
.breakingline {
    border: 1px ridge #ccc;
    margin-left: 57px;
    margin-top: 78px;
    position: absolute;
    width: 375px;
    z-index: -1;
}
.prevnextbtn {
    border: 3px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: "fontscorecomttwcenmt"!important;
    margin-bottom: 50px;
    margin-left: 10px;
    padding: 7px 30px;
}

.cartcaption {
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 64px;
    margin-top: 20px;
    text-align: center;
}
.optionbox {
    color: #555;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 19px;
    text-align: center;
}


.breakingline2 {
    border: 2px solid #ccc;
    margin-left: 2%;
    margin-top: 47px;
    position: absolute;
    width: 94%;
    z-index: -1;
}
#cart {
    margin-top: 40px;
}
.custommpbtn {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    padding: 8px 60px;
}
.completecart {
    border: 1px solid #ccc;
    min-height: 200px;
    margin: 0 2% 1% 2%;
    width: 94%;
}
.productinfo {
    padding: 10px 0;
}
.cartdelicon {
    font-size: 28px;
    top:10px;
    right:0;
    position: absolute;
    cursor:pointer;
}
.quantity_ip{
    margin-top:50px;
    width:100px!important;
    float: left;
}
.quantity_inc{
    float: left;
    margin-top:50px;
    margin-left:10px;
}
.total_ip{
    margin-top:17px;
    border:none;
}
.productpricing {
    font-size: 18px;
    font-weight: normal;
    text-align: right;
}
.clear{
    clear:both;
}
.finalpaymentcart {
    border:1px solid #ccc;
    /*height: 90px;*/
    width: 100%;
}
.finalpaymentcartlabel1 {
    float: right;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 19px;
    margin-top: 10px;
}
.finalpaymentcartlabel2 {
    float: right;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 19px;
    margin-top: 10px;
}
.totalpaymentcart {
    border: 1px solid #ccc;
    height: 60px;
    width: 100%;
}
.custombottomcartbtn {
    background: #002856 none repeat scroll 0 0;
    border: medium none;
    color: white;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 22px;
    margin-top: 50px;
    padding: 12px 62px;
}
.optionnumboxactive {
    background: #002856 none repeat scroll 0 0!important;
    border: 3px solid #002856!important;
    color: white;
}
.optionnumbox {
    background: white none repeat scroll 0 0;
    border: 2px solid #202020;
    border-radius: 17px;
    line-height: 40px;
    padding: 2px 8px;
}
.breakingline2 {
    border: 1px solid #202020;
    margin-left: 2%;
    margin-top: 47px;
    position: absolute;
    width: 94%;
    z-index: -1;
}
.totalpaymentcartlabel1 {
    float: right;
    font-family:"fontscorecomttwcenmt"!important;
    font-size: 19px;
    margin-top: 15px;
}
.increment_quantity {
    margin-top:10px;
    margin-right:10px;
}
.bagde {
    background: red none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: -4px;
    position: absolute;
    text-align: center;
    width: 24px;
}
.login_caption3 {
    color: #000;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}
.black_spot {
    height: 100%;
}
.login_caption3 {
    color: #000;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}
.custom_login_feild {
    border: 1px solid #000;
    font-size: 18px;
    height: 60px;
    margin-top: 29px;
    opacity: 0.6;
    padding-left: 35px;
    width: 34%;
}
.custom_login_button {
    background: #4eb7f5 none repeat scroll 0 0;
    border: 1px solid white;
    color: white;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 22px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 1px;
    margin-top: -35px;
    text-align: center;
    width: 34%;
}
.create_account {
    color: #fff;
    font-family: "fontscorecomttwcenmt"!important;
    font-size: 23px;
    margin-left: 18px;
    margin-top: 28px;
}
.login_logo {
    height: 70px;
    margin-top: 16px;
}
.custom_signup_feild {
    -moz-appearance: none;
    font-size: 16px;
    height: 41px;
    margin-top: 10px;
    opacity: 14;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.payment_confirmation {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
}
.total_am {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.tax {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px;
}
.grand_total {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.nav .dropdown-toggle .caret { display:none; }
.nav .dropdown-toggle .caret:hover { display:block!important;
 display: inline-block!important;
 }
 
.primarysuggestion-b {
    height: auto!important;
    margin-left: 10px;
    margin-top: 10px!important;
    width: auto!important;
}
.primarysuggestion-b {
    border: 2px solid #ccc;
    border-radius: 4px;
    float: left;
    text-align: center;
	cursor: not-allowed;
} 
.primarysuggestion-s{
	height: auto;
    margin-left: 10px;
    margin-top: 10px!important;
    width: auto;
	border: 2px solid #ccc;
    border-radius: 4px;
    float: left;
    text-align: center;
	cursor: not-allowed;
}
