a:link {
    text-decoration: none;
}
.no-gutter{
    margin: 0px;
    padding: 0px;
}
.order{
      -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    align-items: flex-start;
    border-image: none;
    box-shadow: 1px 6px 8px lightgray;
    display: flex;
	 border-top: 3px solid #0a539a;
    flex-direction: column;
    margin: 5px 5px 26px;
    padding: 5px;
    position: relative;
    width: auto;
}
.order-title{
    order: 0;
    -webkit-order:0;
    width: auto;
}
.order-info {
    align-items: baseline;
    background: #eee none repeat scroll 0 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    order: 1;
    padding-bottom: 12px;
    padding-left: 25px;
    width: 100%;
}
.order-bottom{
   margin-top: 10px;
   height: 1px;
   width: 100%;
   background-color: lightgray;
    order: 2;
    -webkit-order:2;
}
.order-info-0{
    order: 0;
    -webkit-order:0;
    padding-right: 0%;
    margin-top: 1%;
    border-right: 1px solid lightgray;
}
.order-info-1{
    order: 1;
    -webkit-order:1;
    margin: 1%;
    padding-right: 0%;
    padding-left: 0%;
    border-right: 1px solid lightgray;
}
.order-info-2{
    order: 2;
    -webkit-order:2;
    margin: 1%;
    padding-right: 0%;
    padding-left: 0%;
    border-right: 1px solid lightgray;
}
.order-info-left{
    order: 3;
    -webkit-order:3;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: flex-end;
    margin-left: auto;
}
.order-info-left-0{
    order: 0;
    -webkit-order:0;
}
.order-info-left-1{
    order: 1;
    -webkit-order:1;
}
.title {
    color: #4cae4c;
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}
.product-order {
    align-items: flex-start;
    display: flex;
	line-height: 62px;
    flex-direction: row;
    margin-bottom: 19px;
    margin-top: -10px;
    order: 3;
    padding-top: 15px;
    width: 100%;
}
.product-order0 {
    order: 0;
    -webkit-order: 0;
    margin: 1%;
    padding: 1%;
}
.product-order1 {
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
	color:#555;
    order: 1;
    padding: 6px 22px;
}
.product-order2 {
    order: 2;
    -webkit-order: 2;
    margin: 1%;
    padding: 1%;
    margin-left: auto;
}
.product-button{
    display:flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border:1px solid lightgray ;
    cursor: pointer;
}
.product-button:hover{
    color: white;
    background-color: darkgrey;
}
.no-found {
    background: #ffcccc none repeat scroll 0 0;
    padding: 20px !important;
    text-align: center;
}