
/*-- //Reset-Code --*/
/*-- Index-Page-Styling --*/
/*-- Top-Bar --*/

/*-- //Logo --*/
/*-- Info --*/
.info {
    width: 40%;
    float: left;
    padding-top: 20px;
}
.info .email, .info .phone {
    width: 50%;
    float: left;
}
.info p {
    color: #EEE;
    font-size: 13px;
}
.info a {
    color: #FFF;
}
.info a:hover {
    color: #009688;
}
.info span.glyphicon {
    margin-right: 5px;
}
/*-- //Info --*/
/*-- //Top-Bar --*/
/*-- Slider --*/
#slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}
.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}
.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}
.events {
    list-style: none;
}
.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.callbacks li {
    position: absolute;
    left: 0;
    top: 0;
}
.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}
.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 43%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 67px;
    width: 56px;
    background: url("../../images/arrows.png") no-repeat 0px -26px;
    display:none;
}
.callbacks_nav.next {
    left: auto;
    background: url("../../images/arrows.png") no-repeat -112px -26px;
    right: 0;
}
.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks2_nav:active {
    opacity: 1.0;
}

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}
#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}
#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}
#slider-pager a {
    padding: 0;
}
#slider-pager li {
    display: inline-block;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}
.rslides li {
    position: relative;
    display: block;
    float: none;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 80.5%;
    z-index: 999;
    left: 44.5%;
    padding: 0em 0.6em 1em 0.3em;
    margin: 0;
}
.callbacks_tabs li {
    display: inline-block;
    margin: 0.5em;
}
.callbacks_tabs a {
    visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width:0;
    height: 0;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 50%;
}
.callbacks_here a:after {
    background: #1ca0de;
}
.slider-info {
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.30);
    text-align: center;
    padding-top: 350px;
}

.slider-info img {
    width: 100px;
    margin: 0 auto;
}
.slider-info h3 {
    font-size: 55px;
    font-weight: 900;
    color: #FFF;
}
.underline {
    height: 3px;
    width: 100px;
    background-color: #FFF;
    margin: 20px auto;
}
.slider-info p {
    font-size: 16px;
    font-weight: 100;
    color: #FFF;
    margin: 0 auto 50px;
    width: 35%;
    line-height: 35px;
}

/*--search--*/
.search-box{
    float:right;
}
.sb-search {
    position: absolute;
    right:0px;
    width: 0%;
    min-width:42px;
    margin-top:14px;
    height:40px;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    z-index: 999;
}
.sb-search-input {
    position: absolute;
    top: 0;
    right: 3px;
    border: none;
    outline: none;
    background:#EFA52C;
    width: 68%;
    height:40px;
    margin: 0;
    z-index: 10;
    padding: 5px 15px;
    font-size: 15px;
    color: #ffffff;
    border-radius:50px;
}
.sb-search-input::-webkit-input-placeholder {
    color: #ffffff;
}
.sb-search-input:-moz-placeholder {
    color: #ffffff;
}
.sb-search-input::-moz-placeholder {
    color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
    color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
    width:30px;
    height:40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0%;
    padding: 0;
    margin: 0;
    line-height:71px;
    text-align: center;
    cursor: pointer;
}
.sb-search-submit {
    background: url('../images/search.png') no-repeat -6px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    -webkit-appearance: none;
}
.sb-icon-search {
    background:#811215 url('../../../images/search.png') no-repeat 7px 9px;
    z-index: 90;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
    width:72%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
    background:  url('../../images/search.png') no-repeat 3px 10px;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
/*--//search--*/
/*-- banner-bottom --*/
.agileinfo{
    padding:5em 0;
}
h3.tittle-one{
    text-align:center;
    color:#A0CC59;
    font-size:50px;
    margin-bottom:50px;
}
.agileinfo p{
    color:#464646;
    font-size:14px;
    text-align:center;
    line-height:1.7em;
}
.agileinfo-grid img{
    width:100%;
}
.grid-one h4 {
    font-size: 32px;
    text-align: left;
    color: #d4504f;
}
.grid-one p{
    font-size:17px;
    color:#AAAAAA;
    line-height:1.7em;
    margin-top: 30px;
    text-align:left;
}
.grid-one {
    background: #202020 none repeat scroll 0 0;
    padding: 65px 30px 0 30px;
}
.grid-oner {
    padding: 23px 30px 0;
}
.agileinfo-grid img,.grid-one{
    min-height:312px;
}
.agileinfo-grids {
    margin-top: 45px;
}
.agileinfo-left {
    padding: 0;
}
.sap_tabs {
    margin: 3em auto 0;
    text-align: center;
    -webkit-appearance: none;
}
/*-- w3layouts --*/
.resp-tab-item {
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px 9px 5px;
    margin: 1em 0;
    display: inline-block;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-appearance: none;
}
li.resp-tab-item img {
    opacity: 0.4;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
li.resp-tab-item img:hover {
    opacity: 1;
}
li.resp-tab-item.resp-tab-active img {
    opacity: 1;
}
h3.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.tab p {
    font-size: 1em;
    color: #777;
    padding-top: 1em;
}
.resp-tab-content {
    display: none;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
.tab ul li span {
    display: block;
    font-size: 0.95em;
}
.agileinfo h3 {
    font-size: 44px;
    color: #d4504f;
    margin-bottom: 30px;
    text-align:center;
    text-transform: uppercase;
}
/*---------*/
.wthree-1 {
    background: url(../images/2.jpg) center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    padding: 5em 0;
}
.wthree-1 p {
    margin: 3em auto 1em;
    font-size: 15px;
    color: #dadada;
    line-height: 26px;
    width: 80%;
}
.wthree-1 h4 {
    font-size: 22px;
    color: #EFA52C;
    margin: 30px 114px 0 0;
    text-align: right;
}
.wthree-1 h2 {
    font-size: 36px;
    text-align: center;
    color: #EFA52C;
    margin-bottom: 20px;
}
.friend-agent {
    padding: 4em 0;
    background: #f5f5f5;
    text-align: center;
}
.friend-grid h4 {
    font-size: 1.5em;
    padding: .8em 0 .5em 0;
    color: #d4504f;
}
.friend-grid img:hover {

    border: 3px solid #d4504f;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}
.friend-grid img {

    border: 3px solid #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.friend-grid p {
    font-size: 15px;
    line-height:1.8em;
    color: #777;
}
/*-- Services Section --*/
.w3l-1 {
    padding:5em 0;

}
.w3l-1 h3.text-center{
    color:#d4504f;
    font-size:36px;
    margin-bottom:30px;
}
.w3l-1-left p {
    font-size: 15px;
    line-height: 26px;
    color: #777;
    margin-bottom: 1em;
}
.w3l-1 h4 {
    font-size: 27px;
    color: #d4504f;
    text-align: left;
    margin: 0 0 1em;
}
.w3l-1-right {
    background: url(../images/slider/5.jpg) no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height:380px;
}
/*-- /Services Section --*/
.footer {
    background:#202020 none repeat scroll 0 0;
    padding:2em 0;
}
ul.fb_icons2 {
    text-align: center;
}
.fb_icons2  li{
    list-style-type:none;
    display:inline-block;
    margin:0 2px;
    overflow:hidden;
}
.fb_icons2 li a{
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #d4504f;
}
.fb_icons2 li a:hover{
    transform:rotateZ(360deg);
    border-radius:100%;
}
.fb_icons2  li a.fb{
    background: url(../images/social2.png) no-repeat -48px -7px;
}
.fb_icons2  li a.twit{
    background: url(../images/social2.png) no-repeat -7px -7px;
}
.fb_icons2  li a.goog{
    background: url(../images/social2.png) no-repeat -88px -7px;
}
.fb_icons2 li a.pin{
    background: url(../images/social2.png) no-repeat -130px -7px;
}
.fb_icons2 li a.drib{
    background: url(../images/social2.png) no-repeat -171px -7px;
}
p.copyright {
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin-top: 14px;
}
p.copyright a {
    text-decoration: none;
    color: #d4504f;
}
p.copyright a:hover {
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
p.ttt {
    font-size: 17px;
    margin: 0 auto 4em;
    width: 57%;
    color:#777;
    line-height: 28px;
    text-align:center;
}
p.kkk {
    background: #ddd none repeat scroll 0 0;
    padding: 29px;
    text-align: center;
    width: 100%;
}
.footer-bottom  h3 {
    font-size: 36px;
    color: #d4504f;
    text-align:center;
    margin-bottom:30px;
}
.footer-bottom  input[type="text"], .footer-bottom  input[type="email"] {
    border: 1px solid #777;
    width: 38%;
    outline: none;
    font-size: 1em;
    color: #777;
    padding: 10px 12px;
    -webkit-appearance: none;
    background: none;
}
.footer-bottom  input[type="submit"] {
    border: none;
    padding: 12px 0;
    width: 22%;
    margin-top: 0px;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background: #d4504f;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.footer-bottom  input[type="submit"]:hover {
    background: #000000;
}
.footer-bottom {
    text-align: center;
    background:#f5f5f5;
    padding:5em 0;
}
.banner {
    background: url(../images/tab/basepoke.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 495px;
}
.highendbanner {
    background: url(../images/tab/highend.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 495px;
}
.topbrand {
    background: url(../images/tab/topbrand.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 495px;
}
.customfitbanner {
    background: url(../images/tab/basepoke.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 495px;
}
.fabric-banner {
    background: url(../images/tab/topbrand.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 495px;
}

.accessories-s {
    background: url(../images/tab/pocketandtie.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 481px;
}
.bann-info {
    background:rgba(0, 0, 0, 0.30);
    padding: 80px 0 0;
}
/*-- //banner-bottom --*/
h2.tittle,h3.tittle {
    color: #d4504f;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
/*--contact--*/
.contact p {
    font-size: 15px;
    color: #777;
    line-height: 26px;
    margin-bottom: 30px;
}
.your-top {

    padding: 0em 0em;
    margin-bottom: 1em;
}
.your-top i {
    display: inline-block;
    float: left;
    color: #12A7CA;
    line-height: 3em;
    text-align: center;
    font-size: 1em;
}

.your-top input[type="text"],.grid-contact-in textarea {
    border:none;
    background: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #ADADAD;
    padding:0.8em 0 0.8em 0;
    font-size: 1em;
    color: #999;
    float: left;
}
.grid-contact textarea{
    border:none;
    border-bottom:1px solid #ADADAD;
    resize:none;
    margin-bottom:0.5em;
    width:100%;
    font-size: 1em;
    padding: 0.8em 0;
    min-height: 171px;
    outline:none;
}
.grid-contact input[type="submit"] {
    width: 100%;
    font-size: 1em;
    background: #EFA52C;
    padding: 0.7em 1em;
    text-align: center;
    color: #fff;
    border:none;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
    font-weight: 700;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor:pointer;
}
.grid-contact input[type="submit"]:hover {
    background: #000;
}
.wthree-3 {
    padding: 5em 0;
}
.contact h4 {
    color: #EFA52C;
    font-size: 25px;
    margin-bottom: 26px;
    text-align: left;
}
ul.contact-list li {
    display: block;
    margin: 16px 0 0;
    font-size: 15px;
    color: #777;
}
ul.contact-list li a {
    color: #777;
    text-decoration: none;
}
span.glyphicon {
    color: #efa52c;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}
/*----*/
.w3l-map iframe{
    width: 100%;
    min-height: 450px;
    border: 0;
}
/*--contact--*/
/*-- gallery --*/
.img-box, .info-box {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.img-box img, .info-box img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.img-box {
    position: relative;
}

.info-box {
    top: 0;
    left: 0;
    position: absolute;
}
.info-box .info-content {
    display: block;
    position: relative;
    padding: 0%;
    float: left;
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.separator {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.5);
    clear: both;
}
.content-grid-effect {
    display: block;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}
.content-grid-effect .info-content {
    z-index: 2 !important;
    filter: alpha(opacity=0);
    -wekbit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -ms-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    filter: alpha(opacity=0);
    -wekbit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.content-grid-effect.horizontal .img-box:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}
.content-grid-effect.horizontal .img-box:after {
    top: 25%;
    left: 0;
    width: 100%;
    height: 25%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 25%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:before {
    top: 75%;
    left: 0;
    width: 100%;
    height: calc(25% + 1px);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}
.content-grid-effect.vertical .img-box:before {
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
.content-grid-effect.vertical .img-box:after {
    top: 0;
    left: 25%;
    width: 25%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:after {
    top: 0;
    left: 50%;
    width: 25%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:before {
    top: 0;
    left: 75%;
    width: calc(25% + 1px);
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
.content-grid-effect:hover .img-box:after, .content-grid-effect:hover .img-box:before, .content-grid-effect:hover .info-box:after, .content-grid-effect:hover .info-box:before {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    filter: alpha(opacity=100);
    -wekbit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.content-grid-effect:hover .info-content {
    filter: alpha(opacity=100);
    -wekbit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.slow-zoom .img-box {
    z-index: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 2.2s ease-in-out;
    -moz-transition: all 2.2s ease-in-out;
    -ms-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out;
}
.slow-zoom:hover .img-box {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.slow-zoom {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.content-grid-effect {
    box-shadow: 0px 0px 14px 0px #DCDCDC;
    padding: 7px 7px;
}
.info-content h4{
    color:#fff;
    text-decoration:none;
    font-size:25px;
}
.info-content p{
    color:#fff;
    text-decoration:none;
    font-size:15px;
    line-height:2.2em;
    width:90%;
    margin:0 auto;
}
.gal_mar{
    margin-top:30px;
}
/*-- //gallery --*/
/**services**/
.featured-grids.w3ls-2 {
    margin: 6em 0 4em;
}
.serv-text h4 {
    font-size: 1.5em;
    color: #222;

    text-transform: capitalize;
    font-weight: 600;
}
.serv-text {
    text-align: left;
}
.serv-text p {
    font-size: 14px;
    color: #7C7C7C;
    line-height: 26px;
    padding: .5em 0 0;
}
.featured-section {
    background:#fff;
    padding: 5em 0;
    text-align: center;
}
.agile-3 h4 {
    font-size: 1.5em;
    color: #222;

    text-transform: capitalize;
    font-weight: 600;
}
.agile-3 p,.our-services p{
    font-size: 1em;
    color: #7C7C7C;
    line-height: 2em;
    padding: .5em 0 0;
}
.our-services h4 {
    font-size: 1.5em;
    color: #222;

    text-transform: capitalize;
    margin-top:.8em;
    font-weight: 600;
}
.serv-img {
    padding: 0;
}
.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}
img.zoom-img {
    -webkit-transform:scale(1, 1);
    -webkit-transition-timing-function:ease-out;
    -webkit-transition-duration:500ms;
    -moz-transform:scale(1, 1);
    -moz-transition-timing-function:ease-out;
    -moz-transition-duration:500ms;
}
img.zoom-img:hover {
    -webkit-transform:rotate(-5deg) scale(1.15);
    -webkit-transition-timing-function:ease-out;
    -webkit-transition-duration:750ms;
    -moz-transform:scale(1.15);
    -moz-transition-timing-function:ease-out;
    -moz-transition-duration:750ms;
    overflow: hidden;
}
.offer-grid h4 {
    font-size: 1.5em;
    color: #fff;

    text-transform: capitalize;
    font-weight: 600;
    background: #25503D;
    padding: 0.5em 0;
}
.offer-top {
    background: rgba(248, 126, 42, 0.12);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.our-offers {
    padding: 5em 0em;
    text-align: center;
    background:#eee;
}
.offer-grid:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}
.offer-grid {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.offer-grid h5 {
    font-size: 2em;
    width: 90px;
    height: 90px;
    margin: 1em auto 0.2em;
    background: #F8F6DE;
    padding: 1em 0 0;
    color: #222;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;

    font-weight: 600;
}
ul.price-list li {
    color: #555;
    padding-top: .8em;
    font-size: .96em;
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    padding-left: 4em;
    border-bottom: 1px solid #F8F6DE;
    padding-bottom: 0.5em;

}
/**services**/
/*-- about --*/
.about{
    background: url(../images/22.jpg) no-repeat 0px -340px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}
.about ul li{
    display:inline-block;
    color:#fff;
    font-size:14px;
}
.about ul li i{
    padding:0 1em;
}
.about ul li a{
    color:#E44C4C;
    text-decoration:none;
}
.about ul li a:hover{
    color:#fff;
}
.agileinfo_about_bottom_grid p{
    color:#999;
    line-height:1.8em;
}
.agileinfo_about_bottom_grid img {
    margin: 0 auto;
}
.agileinfo_about_bottom_grid:nth-child(1) {
    margin: 0em 0 0;
}
.about h3{
    font-size: 2.5em;
    color: #fff;
    padding:2.5em 0 0;
}
.agileinfo_about_bottom_grids h5 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 16px;
    color: #222222;
}

p.bottom {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding:2em 0 0;
    color: #999;
    line-height:2em;
}
ul.count li span {
    padding-right: 2em;
    color: #212121;
}
/*-- team --*/
.team h3,.w3l_team_grid,.portfolio h3,h3.title,.mail h3{
    text-align:center;
}
.w3l_team_grid h4 {
    font-size: 1.3em;
    color: #efa52c;
    margin: 1em 0 .5em;
}
.w3l_team_grid p{
    color:#999;
}
.view {
    overflow: hidden;
    position: relative;
}
.view .mask,.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 6em 1em;
}
.view img {
    display: block;
    position: relative;
}
.view-second img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.view-second .mask {
    background-color: rgba(19, 19, 19, 0.35);
    width: 520px;
    padding: 60px;
    height: 520px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    -moz-transform: translate(265px, 145px) rotate(45deg);
    -o-transform: translate(265px, 145px) rotate(45deg);
    -ms-transform: translate(265px, 145px) rotate(45deg);
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-second .w3l_social_icons1 {
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    -moz-transform: translate(200px, -200px);
    -o-transform: translate(200px, -200px);
    -ms-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-second:hover .mask,.w3l_team_grid:hover .view-second .mask{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform:translate(-125px, -45px) rotate(45deg);
    -moz-transform:translate(-125px, -45px) rotate(45deg);
    -o-transform:translate(-125px, -45px) rotate(45deg);
    -ms-transform:translate(-125px, -45px) rotate(45deg);
    transform: translate(-125px, -45px) rotate(45deg);
}
.view-second:hover .w3l_social_icons1,.w3l_team_grid:hover .view-second .w3l_social_icons1{
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.view-second:hover p,.w3l_team_grid:hover .view-second p{
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.view-second p {
    -webkit-transform: translate(-200px, 200px);
    -moz-transform: translate(-200px, 200px);
    -o-transform: translate(-200px, 200px);
    -ms-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color:#fff;
    margin:1em 0 0;
    line-height:2em;
}
/*-- //team --*/
.w3l_social_icons {
    float: left;
    margin: 1.5em 0 0;
}
.w3l_social_icons1{
    float:none !important;
    margin:0 !important;
}
.w3l_social_icons ul li{
    display:inline-block;
}
.w3l_social_icons ul li a{
    width:30px;
    height:30px;
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -o-border-radius:25px;
    -ms-border-radius:25px;
}
.w3l_social_icons ul li a.facebook{
    background:url(../images/img-sp.png) no-repeat 3px 8px #fff;
    display:block;
}
.w3l_social_icons ul li a.facebook:hover{
    background:url(../images/img-sp.png) no-repeat 3px -23px #00BFFF;
    display:block;
}
.w3l_social_icons ul li a.twitter{
    background:url(../images/img-sp.png) no-repeat -27px 8px #fff;
    display:block;
}
.w3l_social_icons ul li a.twitter:hover{
    background:url(../images/img-sp.png) no-repeat -27px -23px #00BFFF;
    display:block;
}
.w3l_social_icons ul li a.google_plus{
    background:url(../images/img-sp.png) no-repeat -61px 8px #fff;
    display:block;
}
.w3l_social_icons ul li a.google_plus:hover{
    background:url(../images/img-sp.png) no-repeat -61px -23px #00BFFF;
    display:block;
}
.w3l_social_icons ul li a.pinterest{
    background:url(../images/img-sp.png) no-repeat -96px 9px #fff;
    display:block;
}
.w3l_social_icons ul li a.pinterest:hover{
    background:url(../images/img-sp.png) no-repeat -96px -22px #00BFFF;
    display:block;
}
.w3l_social_icons ul li a.instagram{
    background:url(../images/img-sp.png) no-repeat -127px 8px #fff;
    display:block;
}
.w3l_social_icons ul li a.instagram:hover{
    background:url(../images/img-sp.png) no-repeat -127px -24px #00BFFF;
    display:block;
}
.team.agileinfo-3 {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}
.grid_3{
    margin-bottom:2em;
}
.xs h3, h3.m_1{
    color:#000;
    font-size:1.7em;
    font-weight:300;
    margin-bottom: 1em;
}
.grid_3 p{
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}
.grid_4{
    background:none;
    margin-top:50px;
}
.label {
    font-weight: 300 !important;
    border-radius:4px;
}
.grid_5{
    background:none;
    padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #EFA52C;
    font-size: 30px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 0;
}
.badge-primary {
    background-color: #03a9f4;
}
.badge-success {
    background-color: #8bc34a;
}
.badge-warning {
    background-color: #ffc107;
}
.badge-danger {
    background-color: #e51c23;
}
.grid_3 p{
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}
.bs-docs-example {
    margin: 1em 0;
}
section#tables  p {
    margin-top: 1em;
}
.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: #999;
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.label {
    font-weight: 300 !important;
}
.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}
.alert {
    font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
    line-height:2em;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
li.list-group-item1 {
    line-height: 2.5em;
}
.input-group {
    margin-bottom: 20px;
}
.in-gp-tl{
    padding:0;
}
.in-gp-tb{
    padding-right:0;
}
.list-group {
    margin-bottom: 48px;
}
ol {
    margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
}
@media (max-width:640px){
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 25px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
    .label {
        font-size: 60%;
    }
    .in-gp-tl {
        padding: 0 1em;
    }
    .in-gp-tb {
        padding-right: 1em;
    }
}
@media (max-width:480px){
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        font-size: 1.2em;
    }
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
    .grid_3.grid_4.w3layouts {
        margin-top: 0;
    }
}
@media (max-width: 320px){
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }

    table.table.table-striped,.table-bordered,.bs-docs-example {
        display: none;
    }
}
.dropdown-menu > li > a {
    font-weight: 600;
    color: #333!important;
    padding: 6px 20px!important;
    text-transform: uppercase;
}
/*-- //typography --*/
.services-grid {
    margin-top: 2.5em;
}
/*-- responsive --*/
@media screen and (max-width:1440px) {
    .slider-info {
        padding-top: 320px;
    }
}
@media screen and (max-width:1366px) {

}
@media screen and (max-width:1280px) {
    .callbacks_tabs {
        left: 43%;
    }
    .callbacks_nav {
        top: 53.5%;
    }
    .slider-info {
        padding-top: 300px;
    }
    .slider-info h3 {
        font-size: 42px;
    }
    .slider-info p {
        width: 45%;
    }
    .slider-info img {
        width: 80px;
    }
    .bann-info {
        padding: 250px 0 0;
    }
    .banner {
        min-height: 252px;
    }
}
@media screen and (max-width:1024px) {
    .logo {
        width: 50%;
    }
    .logo a {
        font-size: 35px;
    }
    .info {
        width: 50%;
        padding-top: 15px;
    }
    .slider-info {
        padding-top: 230px;
    }
    .underline {
        margin: 15px auto;
    }
    .slider-info p {
        width: 50%;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .callbacks_tabs {
        left: 41%;
    }
    .callbacks_nav.prev {
        left: 1%;
    }
    .agileinfo-grid img, .grid-one {
        min-height: 257px;
    }
    .grid-one {
        padding: 16px 20px 0 20px;
    }
    h2.tittle, h3.tittle {
        font-size: 36px;
    }
    .serv-text h4 {
        font-size: 1.2em;
    }
}
@media screen and (max-width:991px) {

    .sb-search {
        margin-top: 10px;
    }
    .slider-info h3 {
        font-size: 35px;
    }
    .slider-info {
        padding-top: 210px;
    }
    .callbacks_nav {
        top: 48.5%;
    }
    .agileinfo {
        padding: 3em 0;
    }
    p.ttt {
        font-size: 14px;
        width: 90%;
    }
    .grid-one h4 {
        font-size: 30px;
        text-align: center;
    }
    .agileinfo-grid img, .grid-one {
        min-height: 220px;
    }
    .friend-grid {
        float: left;
        width: 33.33%;
    }
    .friend-grid p {
        font-size: 14px;
    }
    .friend-agent {
        padding: 3em 0;
    }
    .wthree-1 {
        padding: 3em 0;
    }
    .sap_tabs {
        margin: 1em auto 0;
    }
    .wthree-1 p {
        margin: 1em auto 1em;
        font-size: 14px;
        width: 100%;
    }
    .wthree-1 h4 {
        margin: 30px 0px 0 0;
    }
    .w3l-1 {
        padding: 3em 0;
    }
    .w3l-1-left p {
        font-size: 14px;
    }
    .centered.w3l-1-left {
        margin-bottom: 2em;
    }
    .w3l-1-right {
        min-height: 315px;
    }
    .footer-bottom {
        padding: 3em 0;
    }
    .wthree-3 {
        padding: 3em 0;
    }
    .agileinfo_about_bottom_grid:nth-child(1) {
        margin-bottom: 2em;
    }
    .team.agileinfo-3 {
        padding: 3em 0;
    }
    .w3l_team_grid {
        float: left;
        width: 44%;
        margin: 2em 1em;
        text-align: center;
    }
    .gal-left {
        float: left;
        width: 50%;
    }
    .mask {
        float: left;
        width: 48%;
    }
    .serv-text {
        float: left;
        width: 52%;
    }
    .featured-section {
        padding: 2em 0 2em;
    }
    .agile-3 {
        float: left;
        width: 50%;
        margin-bottom: 2em;
    }
    .featured-grids.w3ls-2 {
        margin: 4em 0 0em;
    }
    .content-pro-head.content-pro-head3.agile-6 {
        margin-bottom: 2em;
    }
}
@media screen and (max-width:800px) {
    .slider-info {
        padding-top: 160px;
    }
}
@media screen and (max-width:768px) {
    .slider-info h3 {
        font-size: 30px;
    }
    .agileinfo h3,.wthree-1 h2,.w3l-1 h3.text-center,.footer-bottom  h3{
        font-size: 30px;
    }
    h2.tittle, h3.tittle {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .agileinfo_about_bottom_grids h5 {
        font-size: 20px;
    }
    .team.agileinfo-3 {
        padding: 0em 0 3em;
    }
    .contact h4 {
        font-size: 21px;
    }
}
@media screen and (max-width:767px) {

    .sb-search {
        margin-top: 260px;
        right:15px;
    }
}

@media screen and (max-width:667px) {
    .slider-info {
        padding-top: 130px;
    }
    .banner {
        min-height: 200px;
    }
    .bann-info {
        padding: 200px 0 0;
    }
}
@media screen and (max-width:640px) {
}
@media screen and (max-width:600px) {
}
@media screen and (max-width:568px) {
    .separator {
        margin: 2px auto;
    }
}
@media screen and (max-width:480px) {
    .slider-info h3 {
        font-size: 24px;
    }
    .separator {
        margin: 20px auto;
    }
    .rslides img {
        height: 300px;
        border: 0;
    }
    .slider-info p {
        width: 80%;
        font-size: 14px;
        line-height: 23px;
    }
    .agileinfo h3, .wthree-1 h2, .w3l-1 h3.text-center, .footer-bottom h3 {
        font-size: 28px;
        margin-bottom:20px;
    }
    .grid-one h4 {
        font-size: 25px;
    }
    .grid-one p {
        font-size: 14px;
        margin-top: 16px;
    }
    .friend-grid {
        width: 100%;
        margin-bottom: 1.5em;
    }
    .friend-agent {
        padding: 3em 0 1em;
    }
    .w3l-1 h4 {
        font-size: 21px;
    }
    .w3l-1-right {
        min-height: 200px;
    }
    p.copyright {
        font-size: 14px;
    }
    .w3l_team_grid {
        width: 50%;
        margin: 1em 0em;
    }
    .view .mask, .view .content {
        padding: 4em 0.5em;
    }
    h2.tittle, h3.tittle {
        font-size: 28px;
    }
    .agileinfo_about_bottom_grids h5 {
        font-size: 18px;
    }
    .gal-left {
        float: left;
        width: 100%;
    }
    .agile-3 {
        width: 100%;
        margin-bottom: 2em;
    }
    .mask {
        width: 100%;
        margin-bottom: 1em;
    }
    .serv-text {
        width: 100%;
        padding: 0;
    }
    .w3l-map iframe {
        min-height: 200px;
    }
    .sb-search-input {
        width: 93%;
    }
    .sb-search.sb-search-open, .no-js .sb-search {
        width: 94%;
    }
}
@media screen and (max-width:414px) {
    .slider-info h3 {
        font-size: 20px;
    }
    .callbacks_nav.next {
        right: 2px;
        background-size: 145px;
    }
    .callbacks_nav {
        width: 32px;
        background-size: 133px;
    }
    .wthree-1 h4 {
        font-size: 19px;
    }
    p.copyright {
        line-height: 24px;
    }
    .bann-info {
        padding: 175px 0 0;
    }
    .banner {
        min-height: 175px;
    }
    .agileinfo_about_bottom_grids h5 {
        line-height: 29px;
    }
    .w3l_team_grid {
        width: 80%;
        margin: 1em auto;
        float:none;
    }
    .agile-3 h4 {
        font-size: 1.3em;
    }
}
@media screen and (max-width:384px) {
    .resp-tab-item {
        padding: 10px 2px 5px;
    }
    p.ttt {
        width: 100%;
        margin: 0 auto 2em;
    }
    .footer-bottom input[type="text"], .footer-bottom input[type="email"] {
        width: 100%;
        margin-bottom: 12px;
    }
    .footer-bottom input[type="submit"] {
        width: 60%;
    }
    .agileinfo-grid img, .grid-one {
        min-height: 240px;
    }
}
@media screen and (max-width:375px) {
}
@media screen and (max-width:320px) {
    .slider-info h3 {
        font-size: 18px;
    }
    .callbacks_nav.next {
        right: 0px;
        background-size: 138px;
    }
    .callbacks_nav {
        width: 23px;
        background-size: 110px;
    }
    .slider-info p {
        font-size: 13px;
    }
    .callbacks_nav {
        top: 52.5%;
    }
    .rslides img {
        height: 278px;
        border: 0;
    }
    .agileinfo h3, .wthree-1 h2, .w3l-1 h3.text-center, .footer-bottom h3 {
        font-size: 25px;
        margin-bottom: 18px;
    }
    .agileinfo {
        padding: 2em 0;
    }
    p.ttt {
        font-size: 13px;
    }
    .grid-one h4 {
        font-size: 20px;
    }
    .grid-one p {
        font-size: 13px;
    }
    .friend-grid {
        width: 100%;
    }
    .friend-grid h4 {
        font-size: 1.3em;
    }
    .friend-grid p {
        font-size: 13px;
    }
    .wthree-1 {
        padding: 2em 0;
    }
    .sap_tabs {
        margin: 0em auto 0;
    }
    li.resp-tab-item img {
        width: 72px;
        height: 72px;
    }
    .wthree-1 p {
        margin: 0em auto 0em;
        font-size: 13px;
    }
    .w3l-1 {
        padding: 2em 0;
    }
    .w3l-1-left p {
        font-size: 13px;
    }
    .w3l-1 h4 {
        font-size: 19px;
    }
    .centered.w3l-1-left {
        padding: 0;
    }
    .w3l-1-right {
        min-height: 128px;
    }
    .footer-bottom {
        padding: 2em 0;
    }
    p.copyright {
        font-size: 13px;
    }
    .footer {
        padding: 1em 0;
    }

    .top-bar {
        padding: 4px 0 0px;
    }
    .wthree-3 {
        padding: 2em 0;
    }
    h2.tittle, h3.tittle {
        font-size: 25px;
        margin-bottom: 16px;
    }
    .agileinfo_about_bottom_grids h5 {
        line-height: 20px;
        font-size:15px;
    }
    .agileinfo_about_bottom_grid:nth-child(1) {
        padding: 0;
    }
    .agileinfo_about_bottom_grid p {
        line-height: 1.8em;
        font-size: 13px;
    }
    .agileinfo_about_bottom_grid {
        padding: 0;
    }
    .w3l_team_grid {
        width: 100%;
        margin: 1.5em auto;
    }
    .team.agileinfo-3 {
        padding: 0em 0 1em;
    }
    .bann-info {
        padding: 150px 0 0;
    }
    .banner {
        min-height: 150px;
    }
    .gal-left {
        padding: 0;
    }
    .services-grid {
        margin-top: 1.5em;
        padding: 0;
    }
    .serv-text p {
        font-size: 13px;
    }
    .agile-3 {
        padding: 0;
    }
    .featured-section {
        padding: 0em 0 0em;
    }
    .agile-3 p, .our-services p {
        font-size: 13px;
        line-height: 1.8em;
    }
    .contact h4 {
        font-size: 19px;
    }
    .contact p {
        font-size: 13px;
    }
    .content-pro-head.content-pro-head3.agile-6 {
        padding: 0;
    }
    ul.contact-list li {
        font-size: 13px;
    }
    .content-pro-head1.w3agile-6 {
        padding: 0;
    }
    .sb-search.sb-search-open, .no-js .sb-search {
        width: 94%;
    }
    .gal-left {
        padding: 0;
    }
}
.bs-docs-example thead {
    background: #202020 none repeat scroll 0 0;
}
.bs-docs-example th {
    color: #fff!important;
}
.bs-docs-example td {
    color: #555!important;
}
.col-md-6.agileinfo_about_bottom_grid {
    margin-bottom: 70px;
}
.grid_3.grid_5.wthree > h3 {
    color: #d4504f;
    text-align: center;
}
.agileits-w3layouts thead {
    background: #dd8b2f none repeat scroll 0 0;
}
.agileits-w3layouts th{color:#fff!important;}
.list-images{
    list-style: outside none none;
    margin-bottom: 20px;
    text-align: center;
}
.agileits-w3layouts tr ul li {
    color: #555;
    line-height: 2;
    margin-left: 20px;
}
.list-images > img {
    width: 150px;
}
.agileits-w3layouts th {
    width: 50%;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    width:90%;
    margin: 0 auto;
    margin-top: 2%;
}
.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-item > img {
    width:70%;
    cursor: pointer;
    positon: relative;
    margin-top:2.5em;
    max-width:200px;
    max-height:90px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 26px;
    height: 36px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.nbs-flexisel-nav-left {
    left: 0px;
    background: url(../images/c_arrows.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
    right: 0px;
    background: url(../images/c_arrows.png) no-repeat -18px 0px;
}
.steps {
    font-size: 15px!important;
}
.accessories-s-tab{
    text-align: center; background: rgb(32, 32, 32) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; padding: 2px; font-size: 24px; border-style: double;margin-bottom: 60px!important;

}
.accessories-s-tab div {
    cursor: pointer;
}
.accesstabimg {
    border: 1px solid #999;
    margin-right: 26px;
    margin-bottom: 25px;
    width: 31%;
}
.col-md-4.accesstabimg > img {
    margin-bottom: 30px;
}
.col-md-4.accesstabimg input {
    background: #d4504f none repeat scroll 0 0;
    border: 1px solid #d4504f;
    color: #fff;
    font-size: 19px;
    margin-bottom: 18px;
    padding: 2px;
    width: 100%;
}
.accessinfoimg {
    max-height: 140px;
}

.top-aboutbanner {
    background: rgba(0, 0, 0, 0) url("../../images/tab/top_pictures_suit1.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-aboutbannershirt {
    background: rgba(0, 0, 0, 0) url("../../images/tab/top_pictures_shirts.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-aboutbannersuits {
    background: rgba(0, 0, 0, 0) url("../../images/tab/top_pictures_suits.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-assessoricetopbanner {
    background: rgba(0, 0, 0, 0) url("../../../images/tab/top_pictures_accessories_ties.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-canvasbanners {
    background: rgba(0, 0, 0, 0) url("../../images/tab/top_pictures_canvas2.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-customfitbanner {
    background: rgba(0, 0, 0, 0) url("../../images/tab/top_pictures_tape.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-fullbespokadvantage {
    background: rgba(0, 0, 0, 0) url("../../images/tab/fullbespokadvantage.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-highenddetails1 {
    background: rgba(0, 0, 0, 0) url("../../images/tab/highenddetails1.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-workprocess {
    background: rgba(0, 0, 0, 0) url("../../images/tab/top_pictures_suits_rack2.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-fabricdescription {
    background: rgba(0, 0, 0, 0) url("../../images/tab/fabricdescriptiontop.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}
.top-fabricbrands {
    background: rgba(0, 0, 0, 0) url("../../images/tab/topfabricbrands.jpg") no-repeat scroll 0 0 / cover !important;
    min-height: 319px;
    margin-top: 100px;
}.top-joinourteam {
     background: rgba(0, 0, 0, 0) url("../../images/tab/joinourteam.jpg") no-repeat scroll 0 0 / cover !important;
     min-height: 319px;
     margin-top: 100px;
     background-size:100% 100% !important;
 }
.search-box {
    float: right;
    margin-top: 13px;
}
.sb-icon-search, .sb-search-submit {
    cursor: pointer;
    display: block;
    height: 41px;
    line-height: 71px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 42px;
    top: 50px;
    right: 50px;
}
.sb-search {
    position: absolute;
    backface-visibility: hidden;
    float: right;
    height: 40px;
    margin-top: 14px;
    min-width: 42px;
    transition: width 0.3s ease 0s;
    width: 0;
    z-index: 999;
    right: 50px!important;
    top: 5px!important;
    background:url("../../images/search.png") no-repeat scroll 7px 9px !important;
}
.bagde{
    margin: -8px 0px 1px 7px!important;
}
