.no-gutter{
    margin:0px;
    padding: 0px;
}
.msg-footer{
    padding: 5px;
    background-color: #505e67;
}
.msg-body{
    display:none;
}
.msg-body.active{
    display:block;
}
.send-box{
    background-color: #d2d1d1;
    padding: 1%;
    /*margin-top: 5px;*/
}
.content-box{
    -webkit-box-shadow: 5px 2px 18px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 5px 2px 18px 1px rgba(0,0,0,0.45);
    box-shadow: 5px 2px 18px 1px rgba(0,0,0,0.45);
}
.loader {
    background: #eee none repeat scroll 0 0;
    height: 830px;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 2147483647;
    top:0;
}
.spinloader {
    left: 34%;
    position: absolute;
    top: 14%;
}
.msg-container{
    border:1px solid #ebebeb;
    height:450px;
}
.msgs-container{
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.msgs-header{
    background-color: #EDEDED;
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding-left: 1%;
    border:1px solid #ebebeb;
    height: 7%;
}
.msgs-header-item{
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-top: 1%;
    margin-left: 2%;
}
.user-container{
    border:2px #ddd solid;
    padding: 0px;
    overflow: auto;
    height: 359px;
}
.mail-container{
    padding: 5px;
}
.html-data{
    padding: 4%;
    height: 361px;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 2px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.date-container{
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column ;
    margin: 0px 0px 10px 0px;
}
