.invoice-header{
    background: #eee;
    border:1px #eee solid;
    border-radius:5px;
    padding: 1%;
}
.invoice-currency{
    font-size: 26px;
    letter-spacing: 1px;

}
.invoice-usd{
    font-size: 17px;
    font-weight: bold;
    color: #eee;
}
.glyphicon{
    top:17px;
}
.board{
    width: 100%;
    height: 500px;
    background: #fff;
    border:1px solid #eee;
}
.board #myTab {
    position: relative;
    margin-bottom: 0;
    box-sizing: border-box;
}
.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}
p.narrow{
    width: 60%;
    margin: 10px auto;
}
.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
    display: none;
}
#myTab > li.active > a, #myTab > li.active > a:hover, #myTab > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tabs{
    width: 126px;
    line-height:45px;
    display: flex;
    flex-direction: column;
    border-radius:3px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;
}
span.round-tabs.one{
    color: #eee;
    border: 1px solid #eee;
}
li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #444;
    color: #444;
}
span.round-tabs.two{
    color: darkgrey;
    border: 1px solid darkgrey;
}
li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #000;
    color: #000;
}
span.round-tabs.three{
    color: darkgrey;
    border: 1px solid darkgrey;
}
li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #000;
    color: #000;
}
span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}
li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}
span.round-tabs.five{
    color: #999;border: 2px solid #999;
}
li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
#myTab > li.active > a span.round-tabs{
    background: #fafafa;
}
#myTab > li {
    width: 20%;
}
#myTab > li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #000;
    transition:0.1s ease-in-out;
}
#myTab > li.active:after {
    content: " ";
    position: absolute;
    left: 57%;
    opacity:1;
    margin: 0 auto;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
}
#myTab > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
#myTab > li a:hover{
    background: transparent;
}
#invoiceTableContent{
}
#invoiceTableContent .tab-pane{
    position: relative;
    padding-top: 50px;
}
#invoiceTableContent .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.btn.green{
    background-color:#5cb85c;
    color: #ffffff;
}
@media( max-width : 585px ){
    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
    }
    #myTab > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }
    #myTab > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .btn-outline-rounded {
        padding:12px 20px;
    }
}
.createInvoicesData {
    display: none;
}
.dropInvoiceBtn {
    background: #028EA3;
    border: none;
    color: #fff;
    padding: 10px 12px;
}
.previewBtn{
    padding: 10px 12px;
    font-weight: bold;
}
.dropInvoiceBtn:hover {
    background: #028EA3;
    border: none;
    color: #fff;
}
.bussinessAddress {
    width: 100%;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
}
.bussinessAddressTitle i {
    font-size: 18px;
}
.bussAddLeft {
    border-color: #029eb6;
    padding: 20px;
    width: 60%;
    margin: 10px 10px;
    text-align: center;
}
.busiinesFields {
    font-size: 14px;
    padding: 0 10px;
    line-height: normal;
    margin: 10px 0;
    border-radius: 3px;
    height: 40px;
    text-align: right;
}
.busiinesFieldsBox {
    text-align: right;
}
.editBussiness {
    color: #029eb6;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .2px;
}
.invoice-customer-box {
    height: 160px;
    border: 1px solid silver;
    text-align: center;
}
.invoice-customer-box button {
    min-width: 0;
    padding: 0;
    color: #029eb6;
    background: none;
    box-shadow: none;
    border: none;
    margin-top: 6%;
}
.invoice-customer-box.step-1{
    border: none;
    height: auto;
}
.invoice-customer-box.step-1 > ul li{
    padding:0;
    text-align: left;
}
.invoice-customer-box.step-1 > ul li span{
    color: #696969;
}
.invoice-customer-box.step-1 > ul li span a{
    cursor: pointer;
    color:#029eb6 ;
    font-size: 18px;
    font-weight: bold;
}
.invoice-customer-box.step-1 > ul li span a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.invoice-customer-box.step-3 > ul {
    text-align: left;
    margin-left:0;
    border: 1px solid #ddd;
    margin-top: 5px;
}
.invoice-customer-box.step-3>ul li {
    padding: 3px;
    border-bottom: 1px solid #ddd;
}
.invoice-customer-box.step-3>ul li:last-child {
    text-align: center;
    padding: 3%;
    background: #ddd;
}
.invoice-customer-box.step-3>ul li:hover:last-child {
    text-align: center;
    padding: 3%;
    background: #0198ad;
    color:white;
}
.invoice-customer-box.step-3>ul li:hover {
    cursor: pointer;
    background: #eee;
}
.invoice-customer-box.step-2:hover {
    cursor: pointer;
    background: #eee;
}
.invoice-customer-box.active{
    display: block;
}
.invoice-customer-box{
    display: none;
}
.addCustomerMain {
    border: 2px solid #029eb6;
    padding: 20px 6px;
    margin-top: 30px;
}
.addCustomerFields {
    border-radius: 3px;
}
.addCustomerRight .row {
    margin: 10px 5px;
}
.customerItemTable{
    width: 100%;
    border-collapse: collapse;
}
colgroup {
    display: table-column-group;
}
.customerItemTable thead th{
    background: #ecf0f3;
    padding: 10px 0;
}
.customerItemTable tbody td{
    padding: 15px 0;
}
.customerItemTable tbody tr{
    background: #e0f3fb;
}
.customerItemBox{
    margin-top: 30px;
}
.cutomerAddInvoicesFeild{
    height: 60px;
    font-size: 16px;
    color: #333;
}
.createCustomerBtn{
    margin:20px 0;
}
.createCustomerFooter{
    margin: 20px 0;
}
.customerFooterBtn{
    width: 100%;
    padding: 10px;
    background: none;
    border: 1px solid #ccc;
}
.customerFooterField{
    height: 40px;
}
.addCustomerContainer{
    margin: 10px 0;
}
.addCustomerBox{
    margin:10px 0;
}
.addCustomerLabel{
    float: right;
    margin-top: 5px;
    font-size: 12px;
}
.sameBillingPara{
    margin-top:20px ;
}
.sameBillingTitle{
    margin-left: 10px;
}
.amountDue{
    padding: 2%;
    background-color: #eee;
    border-radius: 5px;
}
.receipt{
    -webkit-box-shadow: 7px 7px 15px -6px rgba(140,126,140,1);
    -moz-box-shadow: 7px 7px 15px -6px rgba(140,126,140,1);
    box-shadow: 7px 7px 15px -6px rgba(140,126,140,1);
    border: none;
}
.rec_footer{
    position: absolute;
    bottom: 40px;
    width: 98%;
}
.rec_footer p{
    color: #999;
    text-align: center;
    line-height: 6px;
}
.rec_notes{
    margin-bottom:100px;
}
.rec_notes span{
    color:#000;
}
#allUsersList {
    height: 175px;
    overflow: auto;
}
#allUsersList2 {
    height: 175px;
    overflow: auto;
}
.schedule {
    border: 3px solid #019DB6;
    border-radius: 4px;
    margin: 50px 10%;
    width: 80%;
    padding:20px;
}
.scheduleheading{
    font-size:25px;
    font-weight:normal;
    color:#019DB6;
}
.stepno{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:3px solid #019DB6;
    padding:7px 15px;
    margin-right:5px;
}
