.waiting-container {
  min-height: 16px;
  transition: opacity 0.25s;
  opacity: 1;
}
.waiting-container.hidden {
  opacity: 0;
}
.waiting-container.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.waiting-container.fixed {
  position: fixed;
  z-index: 9999;
}

.waiting-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.waiting-percent { position:absolute; display:inline-block; top:35%; left:0px; width:100%; text-align:center; margin: -9px 0 0 0;}

.waiting-indicator {
  width: 66px;
  height: 66px;
  background: url("../images/spinner.gif");
}
.waiting-indicator.center, .waiting-indicator.top, .waiting-indicator.bottom {
  position: absolute;
}
.waiting-indicator.center {
  top: 35%;
  left: 50%;
  margin: -33px 0 0 -33px;
}
.waiting-indicator.top {
  top: 0;
  margin-top: 0;
}
.waiting-indicator.bottom {
  top: auto;
  bottom: 0;
  margin-top: 0;
}
.waiting-indicator.left {
  left: 0;
  margin-left: 0;
}
.waiting-indicator.right {
  left: auto;
  right: 0;
  margin-left: 0;
}
